# Ignore everything by default
*

# Track only these files
!.gitignore
!configure_forms.py
!MappingFormPS.qgz
!upload_to_qfieldcloud.py
!export_qfieldcloud_projects.py
!01_check_cloud_changes.py
!02_sync_changed_gpkg.py
!04_update_all_cloud_projects.py
